.main-wrapper {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
    padding-bottom: 50px;
}

.slider-wrapper {
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slides {
    width: 100%;
    transition: transform .4s ease-in-out;
    flex-shrink: 0;
}

.slides video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcometext {
    position: absolute;
    top: 50%; /* Vertically center */
    left: 15%; /* Horizontally center */
    right: 60%; /* Horizontally center */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    color: white; /* Text color */
    font-size: 28px; /* Adjust the size as needed */
    font-weight: bold;
    text-align: center;
    padding: 20px;
}


@media screen and (max-width:950px) {
    .slider-wrapper {
        width: 70%;
    }
}

@media screen and (max-width:680px) {
    .slider-wrapper {
        width: 90%;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* Allows the items to wrap */
    gap: 20px;
    padding: 20px;
}

.card {
    display: flex;
    align-items: center;
    gap: 200px;
    width: 100%;
    padding: 20px;
   

}

/* First row: Image first, then Text */
.card1 {
    flex-direction: row;
    /* Image first, then text */
}

/* Second row: Text first, then Image */
.card2 {
    flex-direction: row-reverse;
    /* Text first, then image */
}

.card img {
    width: 400px;
    /* Adjust image size */
    height: auto;
}

.image1 {
    width: 600px;
}

.card p {
    font-size: 16px;
    margin-right: 200px;
    /* Remove default margin to control spacing */
}
/* 